<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
        <h1>Object</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <button
              nz-button
              nzType="primary"
              (click)="addBox()"
              style="
                background-color: rgba(0, 21, 41, 0.08);
                color: white;
                border: none;
              "
            >
              Add Text
            </button>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a
              *ngIf="editingIndex !== null"
              (click)="deleteHoveredTextItem(editingIndex)"
            >
              Delete
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content class="example-boundary">
      <!-- cdkDragBoundary=".example-boundary" -->
      <div
        cdkDrag
        *ngFor="let textItem of boxes; let i = index"
        (cdkDragEnded)="onDragEnd($event, textItem)"
        [cdkDragData]="textItem"
        (click)="startEditing(i)"
        (mouseover)="onMouseOver(textItem)"
        (mouseout)="onMouseOut()"
        cdkDragBoundary=".example-boundary"
        class="example-box"
        [ngStyle]="{
          'font-size': textItem?.size,
          color: textItem?.color
        }"
        [style.transform]="
          'translate(' +
          (textItem?.position?.x || 0) +
          'px, ' +
          (textItem?.position?.y || 0) +
          'px)'
        "
      >
        <ng-container *ngIf="!textItem?.size; else elseTemplate">
          <h1
            [ngStyle]="{
              'font-weight': textItem?.font?.bold ? 'bold' : 'normal',
              'font-style': textItem?.font?.italic ? 'italic' : 'normal',
              'text-decoration': textItem?.font?.underline
                ? 'underline'
                : 'none',
              color: textItem?.color ? textItem.color : 'black'
            }"
          >
            <span
              *ngIf="textItem?.hover !== false; else otherText"
              class="drag-drop-box"
              >{{ textItem?.text }}</span
            >
            <ng-template #otherText>
              <span
                *ngIf="textItem?.increaseSize !== false; else otherSize"
                class="drag-drop-size"
                >{{ textItem?.text }}</span
              >
              <ng-template #otherSize>{{ textItem?.text }}</ng-template>
            </ng-template>
          </h1>
        </ng-container>

        <ng-template #elseTemplate>
          <ng-container *ngIf="textItem.size === 'h1'">
            <h1
              [ngStyle]="{
                'font-weight': textItem?.font?.bold ? 'bold' : 'normal',
                'font-style': textItem?.font?.italic ? 'italic' : 'normal',
                'text-decoration': textItem?.font?.underline
                  ? 'underline'
                  : 'none',
                color: textItem?.color ? textItem.color : 'black'
              }"
            >
              <span
                *ngIf="textItem?.hover !== false; else otherText"
                class="drag-drop-box"
                >{{ textItem?.text }}</span
              >
              <ng-template #otherText>
                <span
                  *ngIf="textItem?.increaseSize !== false; else otherSize"
                  class="drag-drop-size"
                  >{{ textItem?.text }}</span
                >
                <ng-template #otherSize>{{ textItem?.text }}</ng-template>
              </ng-template>
            </h1>
          </ng-container>

          <ng-container *ngIf="textItem.size === 'h2'">
            <h2
              [ngStyle]="{
                'font-weight': textItem?.font?.bold ? 'bold' : 'normal',
                'font-style': textItem?.font?.italic ? 'italic' : 'normal',
                'text-decoration': textItem?.font?.underline
                  ? 'underline'
                  : 'none',
                color: textItem?.color ? textItem.color : 'black'
              }"
            >
              <span
                *ngIf="textItem?.hover !== false; else otherText"
                class="drag-drop-box"
                >{{ textItem?.text }}</span
              >
              <ng-template #otherText>
                <span
                  *ngIf="textItem?.increaseSize !== false; else otherSize"
                  class="drag-drop-size"
                  >{{ textItem?.text }}</span
                >
                <ng-template #otherSize>{{ textItem?.text }}</ng-template>
              </ng-template>
            </h2>
          </ng-container>

          <ng-container *ngIf="textItem.size === 'h3'">
            <h3
              [ngStyle]="{
                'font-weight': textItem?.font?.bold ? 'bold' : 'normal',
                'font-style': textItem?.font?.italic ? 'italic' : 'normal',
                'text-decoration': textItem?.font?.underline
                  ? 'underline'
                  : 'none',
                color: textItem?.color ? textItem.color : 'black'
              }"
            >
              <span
                *ngIf="textItem?.hover !== false; else otherText"
                class="drag-drop-box"
                >{{ textItem?.text }}</span
              >
              <ng-template #otherText>
                <span
                  *ngIf="textItem?.increaseSize !== false; else otherSize"
                  class="drag-drop-size"
                  >{{ textItem?.text }}</span
                >
                <ng-template #otherSize>{{ textItem?.text }}</ng-template>
              </ng-template>
            </h3>
          </ng-container>

          <ng-container *ngIf="textItem.size === 'h4'">
            <h4
              [ngStyle]="{
                'font-weight': textItem?.font?.bold ? 'bold' : 'normal',
                'font-style': textItem?.font?.italic ? 'italic' : 'normal',
                'text-decoration': textItem?.font?.underline
                  ? 'underline'
                  : 'none',
                color: textItem?.color ? textItem.color : 'black'
              }"
            >
              <span
                *ngIf="textItem?.hover !== false; else otherText"
                class="drag-drop-box"
                >{{ textItem?.text }}</span
              >
              <ng-template #otherText>
                <span
                  *ngIf="textItem?.increaseSize !== false; else otherSize"
                  class="drag-drop-size"
                  >{{ textItem?.text }}</span
                >
                <ng-template #otherSize>{{ textItem?.text }}</ng-template>
              </ng-template>
            </h4>
          </ng-container>

          <ng-container *ngIf="textItem.size === 'h5'">
            <h5
              [ngStyle]="{
                'font-weight': textItem?.font?.bold ? 'bold' : 'normal',
                'font-style': textItem?.font?.italic ? 'italic' : 'normal',
                'text-decoration': textItem?.font?.underline
                  ? 'underline'
                  : 'none',
                color: textItem?.color ? textItem.color : 'black'
              }"
            >
              <span
                *ngIf="textItem?.hover !== false; else otherText"
                class="drag-drop-box"
                >{{ textItem?.text }}</span
              >
              <ng-template #otherText>
                <span
                  *ngIf="textItem?.increaseSize !== false; else otherSize"
                  class="drag-drop-size"
                  >{{ textItem?.text }}</span
                >
                <ng-template #otherSize>{{ textItem?.text }}</ng-template>
              </ng-template>
            </h5>
          </ng-container>
        </ng-template>
      </div>
    </nz-content>
  </nz-layout>
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
        <h1>Functions</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu nzOpen nzTitle="Text Format" nzIcon="Dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <div>
              <input
                nz-input
                *ngIf="editingIndex !== null"
                type="text"
                [(ngModel)]="boxes[editingIndex].text"
                (blur)="stopEditing()"
                (keydown.enter)="stopEditing()"
              />
            </div>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Font text" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter *ngIf="editingIndex !== null">
            <nz-select
              nzShowSearch
              nzAllowClear
              [(ngModel)]="selectedSize"
              [(ngModel)]="boxes[editingIndex].size"
              nzPlaceHolder="Select Size"
              (ngModelChange)="applySize()"
            >
              <ng-container [ngSwitch]="boxes[editingIndex]?.size">
                <ng-container *ngSwitchCase="'h1'">
                  <nz-option nzLabel="Heading 1" [nzValue]="'h1'"></nz-option>
                  <nz-option nzLabel="Heading 2" [nzValue]="'h2'"></nz-option>
                  <nz-option nzLabel="Heading 3" [nzValue]="'h3'"></nz-option>
                  <nz-option nzLabel="Heading 4" [nzValue]="'h4'"></nz-option>
                  <nz-option nzLabel="Heading 5" [nzValue]="'h5'"></nz-option>
                </ng-container>
                <ng-container *ngSwitchCase="'h2'">
                  <nz-option nzLabel="Heading 2" [nzValue]="'h2'"></nz-option>
                  <nz-option nzLabel="Heading 1" [nzValue]="'h1'"></nz-option>
                  <nz-option nzLabel="Heading 3" [nzValue]="'h3'"></nz-option>
                  <nz-option nzLabel="Heading 4" [nzValue]="'h4'"></nz-option>
                  <nz-option nzLabel="Heading 5" [nzValue]="'h5'"></nz-option>
                </ng-container>
                <ng-container *ngSwitchCase="'h3'">
                  <nz-option nzLabel="Heading 3" [nzValue]="'h3'"></nz-option>
                  <nz-option nzLabel="Heading 1" [nzValue]="'h1'"></nz-option>
                  <nz-option nzLabel="Heading 2" [nzValue]="'h2'"></nz-option>
                  <nz-option nzLabel="Heading 4" [nzValue]="'h4'"></nz-option>
                  <nz-option nzLabel="Heading 5" [nzValue]="'h5'"></nz-option>
                </ng-container>
                <ng-container *ngSwitchCase="'h4'">
                  <nz-option nzLabel="Heading 4" [nzValue]="'h4'"></nz-option>
                  <nz-option nzLabel="Heading 1" [nzValue]="'h1'"></nz-option>
                  <nz-option nzLabel="Heading 2" [nzValue]="'h2'"></nz-option>
                  <nz-option nzLabel="Heading 3" [nzValue]="'h3'"></nz-option>
                  <nz-option nzLabel="Heading 5" [nzValue]="'h5'"></nz-option>
                </ng-container>
                <ng-container *ngSwitchCase="'h5'">
                  <nz-option nzLabel="Heading 5" [nzValue]="'h5'"></nz-option>
                  <nz-option nzLabel="Heading 1" [nzValue]="'h1'"></nz-option>
                  <nz-option nzLabel="Heading 2" [nzValue]="'h2'"></nz-option>
                  <nz-option nzLabel="Heading 3" [nzValue]="'h3'"></nz-option>
                  <nz-option nzLabel="Heading 4" [nzValue]="'h4'"></nz-option>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  <nz-option nzLabel="Heading 1" [nzValue]="'h1'"></nz-option>
                  <nz-option nzLabel="Heading 2" [nzValue]="'h2'"></nz-option>
                  <nz-option nzLabel="Heading 3" [nzValue]="'h3'"></nz-option>
                  <nz-option nzLabel="Heading 4" [nzValue]="'h4'"></nz-option>
                  <nz-option nzLabel="Heading 5" [nzValue]="'h5'"></nz-option>
                </ng-container>
              </ng-container>
            </nz-select>
          </li>

          <li nz-menu-item nzMatchRouter (click)="applyFont('bold')">
            <span nz-icon nzType="bold" nzTheme="outline"></span>
          </li>
          <li nz-menu-item nzMatchRouter (click)="applyFont('italic')">
            <span nz-icon nzType="italic" nzTheme="outline"></span>
          </li>
          <li nz-menu-item nzMatchRouter (click)="applyFont('underline')">
            <span nz-icon nzType="underline" nzTheme="outline"></span>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Color text" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <nz-row>
              <span
                style="background-color: red; padding: 10px; margin-right: 13px"
                (click)="ApplyColor('red')"
              ></span>
              <span
                style="
                  background-color: blue;
                  padding: 10px;
                  margin-right: 13px;
                "
                (click)="ApplyColor('blue')"
              ></span>
              <span
                style="
                  background-color: yellow;
                  padding: 10px;
                  margin-right: 13px;
                "
                (click)="ApplyColor('yellow')"
              ></span>
              <span
                style="
                  background-color: orange;
                  padding: 10px;
                  margin-right: 13px;
                "
                (click)="ApplyColor('orange')"
              ></span>
              <span
                style="
                  background-color: green;
                  padding: 10px;
                  margin-right: 13px;
                "
                (click)="ApplyColor('green')"
              ></span>
              <span
                style="
                  background-color: white;
                  padding: 10px;
                  margin-right: 13px;
                "
                (click)="ApplyColor('white')"
              ></span>
            </nz-row>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Color Hover" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <nz-row>
              <button
                nz-button
                nzType="primary"
                *ngIf="editingIndex !== null"
                (click)="changeHoverColor(editingIndex)"
                style="
                  background-color: rgba(0, 21, 41, 0.08);
                  color: white;
                  border: none;
                "
              >
                Hover text
              </button>
            </nz-row>
          </li>
          <li nz-menu-item nzMatchRouter>
            <nz-row>
              <button
                nz-button
                nzType="primary"
                *ngIf="editingIndex !== null"
                (click)="changeHoverSize(editingIndex)"
                style="
                  background-color: rgba(0, 21, 41, 0.08);
                  color: white;
                  border: none;
                "
              >
                Zoom
              </button>
            </nz-row>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
</nz-layout>
