<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
        <h1>Object</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a nz-button nzType="primary" (click)="addBox()"> Add Box </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Box</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Line</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a
              *ngIf="editingIndex !== null"
              (click)="deleteHoveredTextItem(editingIndex)"
            >
              Delete
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content class="example-boundary">
      <div
        cdkDrag
        *ngFor="let textItem of boxes; let i = index"
        [cdkDragData]="textItem"
        (cdkDragEnded)="onDragEnd($event)"
        (click)="startEditing(i)"
        (mouseover)="onMouseOver(textItem)"
        (mouseout)="onMouseOut()"
        [style.transform]="
          'translate(' +
          textItem.position.x +
          'px, ' +
          textItem.position.y +
          'px)'
        "
        [ngStyle]="{ 'font-size': textItem.size, color: textItem.color }"
        style="width: 0"
        cdkDragBoundary=".example-boundary"
      >
        <ng-container *ngIf="!textItem.size; else elseTemplate">
          <h1
            [ngStyle]="{
              'font-weight': textItem.font === 'bold' ? 'bold' : 'normal',
              'font-style': textItem.font === 'italic' ? 'italic' : 'normal',
              'text-decoration':
                textItem.font === 'underline' ? 'underline' : 'none',
              color: textItem.color ? textItem.color : 'black'
            }"
            style="position: absolute"
          >
            {{ textItem.text }}
          </h1>
        </ng-container>

        <ng-template #elseTemplate>
          <ng-container *ngIf="textItem.size === 'h1'">
            <h1
              [ngStyle]="{
                'font-weight': textItem.font === 'bold' ? 'bold' : 'normal',
                'font-style': textItem.font === 'italic' ? 'italic' : 'normal',
                'text-decoration':
                  textItem.font === 'underline' ? 'underline' : 'none',
                color: textItem.color ? textItem.color : 'black'
              }"
            >
              {{ textItem.text }}
            </h1>
          </ng-container>

          <ng-container *ngIf="textItem.size === 'h2'">
            <h2
              [ngStyle]="{
                'font-weight': textItem.font === 'bold' ? 'bold' : 'normal',
                'font-style': textItem.font === 'italic' ? 'italic' : 'normal',
                'text-decoration':
                  textItem.font === 'underline' ? 'underline' : 'none',
                color: textItem.color ? textItem.color : 'black'
              }"
            >
              {{ textItem.text }}
            </h2>
          </ng-container>
          <ng-container *ngIf="textItem.size === 'h3'">
            <h3
              [ngStyle]="{
                'font-weight': textItem.font === 'bold' ? 'bold' : 'normal',
                'font-style': textItem.font === 'italic' ? 'italic' : 'normal',
                'text-decoration':
                  textItem.font === 'underline' ? 'underline' : 'none',
                color: textItem.color ? textItem.color : 'black'
              }"
            >
              {{ textItem.text }}
            </h3>
          </ng-container>
          <ng-container *ngIf="textItem.size === 'h4'">
            <h4
              [ngStyle]="{
                'font-weight': textItem.font === 'bold' ? 'bold' : 'normal',
                'font-style': textItem.font === 'italic' ? 'italic' : 'normal',
                'text-decoration':
                  textItem.font === 'underline' ? 'underline' : 'none',
                color: textItem.color ? textItem.color : 'black'
              }"
            >
              {{ textItem.text }}
            </h4>
          </ng-container>
          <ng-container *ngIf="textItem.size === 'h5'">
            <h5
              [ngStyle]="{
                'font-weight': textItem.font === 'bold' ? 'bold' : 'normal',
                'font-style': textItem.font === 'italic' ? 'italic' : 'normal',
                'text-decoration':
                  textItem.font === 'underline' ? 'underline' : 'none',
                color: textItem.color ? textItem.color : 'black'
              }"
            >
              {{ textItem.text }}
            </h5>
          </ng-container>
        </ng-template>
      </div>
    </nz-content>
  </nz-layout>
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
        <h1>Functions</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu nzOpen nzTitle="Text Format" nzIcon="Dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <div>
              <input
                nz-input
                *ngIf="editingIndex !== null"
                type="text"
                [(ngModel)]="boxes[editingIndex].text"
                (blur)="stopEditing()"
                (keydown.enter)="stopEditing()"
              />
            </div>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Font text" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <nz-select
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Select Size"
              [(ngModel)]="selectedSize"
              (ngModelChange)="applySize()"
            >
              <nz-option nzLabel="Heading 1" [nzValue]="'h1'"></nz-option>
              <nz-option nzLabel="Heading 2" [nzValue]="'h2'"></nz-option>
              <nz-option nzLabel="Heading 3" [nzValue]="'h3'"></nz-option>
              <nz-option nzLabel="Heading 4" [nzValue]="'h4'"></nz-option>
              <nz-option nzLabel="Heading 5" [nzValue]="'h5'"></nz-option>
            </nz-select>
          </li>

          <li nz-menu-item nzMatchRouter (click)="applyFont('bold')">
            <span nz-icon nzType="bold" nzTheme="outline"></span>
          </li>
          <li nz-menu-item nzMatchRouter (click)="applyFont('italic')">
            <span nz-icon nzType="italic" nzTheme="outline"></span>
          </li>
          <li nz-menu-item nzMatchRouter (click)="applyFont('underline')">
            <span nz-icon nzType="underline" nzTheme="outline"></span>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Color text" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <nz-row>
              <span
                style="background-color: red; padding: 10px; margin-right: 13px"
                (click)="ApplyColor('red')"
              ></span>
              <span
                style="
                  background-color: blue;
                  padding: 10px;
                  margin-right: 13px;
                "
                (click)="ApplyColor('blue')"
              ></span>
              <span
                style="
                  background-color: yellow;
                  padding: 10px;
                  margin-right: 13px;
                "
                (click)="ApplyColor('yellow')"
              ></span>
              <span
                style="
                  background-color: orange;
                  padding: 10px;
                  margin-right: 13px;
                "
                (click)="ApplyColor('orange')"
              ></span>
              <span
                style="
                  background-color: green;
                  padding: 10px;
                  margin-right: 13px;
                "
                (click)="ApplyColor('green')"
              ></span>
              <span
                style="
                  background-color: white;
                  padding: 10px;
                  margin-right: 13px;
                "
                (click)="ApplyColor('white')"
              ></span>
            </nz-row>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
</nz-layout>
